{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Добавить продукт
{% endblock %}
{% block content %}
<div class="container py-3" style="width: 80%;">
    <form class="needs-validation" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Название</label>
            <input type="text" name="name" maxlength="100" required id="id_name" class="form-control mt-auto" placeholder="Введите название продукта">
          </div>
          <div class="col-sm-6">
            <label for="id_category" class="form-label">Категория</label>
            <select name="category" id="id_category" class="ui fluid search dropdown" required>
                <option value="" disabled selected>Выберите категорию</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>            
          </div>
          <div class="col-12">
            <label for="{{ form.features.id_for_label }}" class="form-label">Особенности (кратко)<span class="text-muted"></span></label>
                <input type="text" name="features" id="{{ form.features.id_for_label }}" class="form-control">
        </div>
          <div class="col-12">
            <label for="{{ form.description.id_for_label }}" class="form-label">Описание<span class="text-muted"></span></label>
            <textarea name="description" id="{{ form.description.id_for_label }}" class="form-control" style="min-height: 105px;"></textarea>
          </div>
        </div>
        <hr class="my-4">
        <div class="row g-3">
          <h4 class="m-0 mt-2">Основные характеристики</h4>
          <div class="col-sm-6">
            
              <label for="id_processor" class="form-label">Процессор</label>
              <select name="processor" id="id_processor" class="ui fluid search dropdown" multiple>
                  <option value="" disabled selected>Выберите процессор</option>
                  {% for processor in form.processor.field.queryset %}
                      <option value="{{ processor.id }}">{{ processor.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
              <label for="id_mother" class="form-label">Материнская плата</label>
              <select name="mother" id="id_mother" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите материнскую плату</option>
                  {% for motherboard in form.mother.field.queryset %}
                      <option value="{{ motherboard.id }}">{{ motherboard.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
              <label for="id_storage" class="form-label">Накопители</label>
              <select name="storage" id="id_storage" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите накопители</option>
                  {% for storage in form.storage.field.queryset %}
                      <option value="{{ storage.id }}">{{ storage }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
              <label for="id_ram" class="form-label">Оперативная память</label>
              <select name="ram" id="id_ram" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите оперативную память</option>
                  {% for ram in form.ram.field.queryset %}
                      <option value="{{ ram.id }}">{{ ram.size }} ГБ ({{ ram.type }})</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
              <label for="id_graphics" class="form-label">Видеокарта</label>
              <select name="graphics" id="id_graphics" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите размер памяти видеокарты</option>
                  {% for graphics in form.graphics.field.queryset %}
                      <option value="{{ graphics.id }}">{{ graphics }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
              <label for="id_power_supplies" class="form-label">Мощность блока питания</label>
              <select name="power_supplies" id="id_power_supplies" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите мощность блока питания</option>
                  {% for power_supply in form.power_supplies.field.queryset %}
                      <option value="{{ power_supply.id }}">{{ power_supply }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
              <label for="id_controllers" class="form-label">Контроллеры</label>
              <select name="controllers" id="id_controllers" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите контроллеры</option>
                  {% for controller in form.controllers.field.queryset %}
                      <option value="{{ controller.id }}">{{ controller.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
              <label for="id_operating_system" class="form-label">Операционная система</label>
              <select name="operating_system" id="id_operating_system" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите операционную систему</option>
                  {% for os in form.operating_system.field.queryset %}
                      <option value="{{ os.id }}">{{ os.name }}</option>
                  {% endfor %}
              </select>
          </div>
      </div>
          <hr class="my-4">
          <div class="row g-3">
            <h4 class="m-0 mt-2">Экран и Ввод</h4>
            <div class="col-sm-6">
                <label for="id_screen_sizes" class="form-label">Размер экрана</label>
                <select name="screen_sizes" id="id_screen_sizes" class="ui fluid search dropdown" multiple="">
                    <option value="" disabled selected>Выберите размер экрана</option>
                    {% for size in form.screen_sizes.field.queryset %}
                        <option value="{{ size.id }}">{{ size }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <label for="id_screen_types" class="form-label">Тип экрана</label>
                <select name="screen_type" id="id_screen_type" class="ui fluid search dropdown" multiple="">
                    <option value="" disabled selected>Выберите тип экрана</option>
                    {% for type in form.screen_type.field.queryset %}
                        <option value="{{ type.id }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <label for="id_screen_resolutions" class="form-label">Разрешение экрана</label>
                <select name="screen_resolution" id="id_screen_resolution"class="ui fluid search dropdown" multiple="">
                    <option value="" disabled selected>Выберите разрешение экрана</option>
                    {% for resolution in form.screen_resolution.field.queryset %}
                        <option value="{{ resolution.id }}">{{ resolution }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <label for="id_touch_screen_touches" class="form-label">Кол-во одновременных касаний</label>
                <select name="touch_screen_touches" id="id_touch_screen_touches" class="ui fluid search dropdown" multiple="">
                    <option value="" disabled selected>Выберите кол-во одновременных касаний</option>
                    {% for touch in form.touch_screen_touches.field.queryset %}
                        <option value="{{ touch.id }}">{{ touch }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


          <hr class="my-4">
          <div class="row g-3">
            <h4 class="m-0 mt-2">Связь и Периферия</h4>
            <div class="col-sm-4">
                <label for="id_webcam" class="form-label">Веб-камера</label>
                <select name="webcam" id="id_webcam" class="ui fluid search dropdown" multiple="">
                    <option value="" disabled selected>Выберите веб-камеру</option>
                    {% for webcam_choice in form.webcam.field.queryset %}
                        <option value="{{ webcam_choice.id }}">{{ webcam_choice }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <label for="id_keyset" class="form-label">Комплект клавиатура и мышь</label>
                <select name="keyset" id="id_keyset" class="ui fluid search dropdown" multiple="">
                    <option value="" disabled selected>Выберите тип клавиатуры и мыши</option>
                    {% for keyset_choice in form.keyset.field.queryset %}
                        <option value="{{ keyset_choice.id }}">{{ keyset_choice }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <label for="id_keyboard_backlight" class="form-label">Подсветка клавиатуры</label>
                <select name="keyboard_backlight" id="id_keyboard_backlight" class="ui fluid search dropdown" multiple="">
                    <option value="" disabled selected>Есть ли подсветка клавиатуры?</option>
                    {% for backlight_choice in form.keyboard_backlight.field.queryset %}
                        <option value="{{ backlight_choice.id }}">{{ backlight_choice }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
          <hr class="my-4">

          <div class="row g-3">
            <h4 class="m-0 mt-2">Эксплуатация и Габариты</h4>
            <div class="col-sm-4">
              <label for="id_weight" class="form-label">Вес (кг)</label>
              <input type="number" name="weight" id="id_weight" class="form-control" placeholder="Введите вес">
            </div>
          
            <div class="col-sm-4">
              <label for="id_formfactor" class="form-label">Форм-фактор</label>
              <select name="formfactor" id="id_formfactor" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите форм-фактор</option>
                  {% for formfactor_choice in form.formfactor.field.queryset %}
                      <option value="{{ formfactor_choice.id }}">{{ formfactor_choice }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-4">
              <label for="id_sizes" class="form-label">Размеры</label>
              <select name="sizes" id="id_sizes" class="ui fluid search dropdown" multiple="">
                  <option value="" disabled selected>Выберите размер</option>
                  {% for size_choice in form.sizes.field.queryset %}
                      <option value="{{ size_choice.id }}">{{ size_choice.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-sm-6">
            <label for="id_operating_temperature" class="form-label">Температура эксплуатации</label>
            <input type="text" name="operating_temperature" id="id_operating_temperature" class="form-control" placeholder="Введите температуру эксплуатации">
        </div>
        <div class="col-sm-6">
            <label for="id_storage_temperature" class="form-label">Температура хранения</label>
            <input type="text" name="storage_temperature" id="id_storage_temperature" class="form-control" placeholder="Введите температуру хранения">
        </div>
        <div class="col-sm-6">
            <label for="id_operating_humidity" class="form-label">Рабочая влажность</label>
            <input type="text" name="operating_humidity" id="id_operating_humidity" class="form-control" placeholder="Введите рабочую влажность">
        </div>
        <div class="col-sm-6">
            <label for="id_storage_humidity" class="form-label">Влажность хранения</label>
            <input type="text" name="storage_humidity" id="id_storage_humidity" class="form-control" placeholder="Введите влажность хранения">
        </div>
        </div>
          <hr class="my-4">
          <div class="row g-3">
          <h4 class="m-0 mt-2">Фотографии продукта</h4>
          <div class="col-sm-6">
          <div id="image-formset">
            {{ image_formset.management_form }}
            {% for form in image_formset %}
                <div class="image-form">
                    <div class="custom-file-upload d-flex flex-column">
                        <img id="image-preview-{{ forloop.counter0 }}" src="#" alt="Preview" style="display: none; max-height: 100px; align-self: center; margin-bottom: 10px;">
                        <input type="file" name="images-{{ forloop.counter0 }}-image" accept="image/*" id="id_images-{{ forloop.counter0 }}-image" class="custom-file-input" onchange="previewImage(event, {{ forloop.counter0 }})">
                        <label for="id_images-{{ forloop.counter0 }}-image" class="custom-select custom-file-label">Выберите файл</label>
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-end">
          <button type="button" id="add-image-form" class="form-control custom-button">Добавить еще фото</button>
            </div>
          </div>
        <hr class="my-4">
        <div class="row g-3">
            <h4 class="m-0 mt-2">Описание продукта</h4>
            <div id="description-formset">
                {{ description_formset.management_form }}
                {% for form in description_formset %}
                    <div class="description-form row g-3">
                      <div class="col-sm-6">
                          <label for="{{ form.title.id_for_label }}" class="form-label">Заголовок</label>
                          <input type="text" name="descriptions-0-title" maxlength="255" id="id_descriptions-0-title" class="form-control" placeholder="Введите заголовок текста">
                      </div>
                      <div class="col-sm-6 d-flex flex-column justify-content-end">
                          <input type="file" name="descriptions-0-image" accept="image/*" id="id_descriptions-0-image" class="custom-file-input">
                          <label for="{{ form.image.id_for_label }}" class="custom-select custom-file-label">Выберите изображение</label>
                      </div>
                      <div class="col-sm-12">
                          <label for="{{ form.text.id_for_label }}" class="form-label">Описание:</label>
                          <textarea name="descriptions-0-text" cols="40" rows="10" id="id_descriptions-0-text" class="form-control" style="min-height: 105px;"></textarea>
                      </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-12">
            <button type="button" id="add-description-form" class="form-control">Добавить еще описание</button>
            </div>
        </div>
        
        <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}