{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Запросы
{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center text-muted my-4 fw-light">Список коммерческих запросов</h2>
    <table class="table border mt-3 mb-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>От</th>
                <th>Организация</th>
                <th class="text-center">Детали</th>
                <th class="text-center">Документ</th>
            </tr>
        </thead>
        <tbody>
            {% for commercial_request in commercial_requests %}
                <tr>
                    <td class="align-middle">{{ commercial_request.id }}</td>
                    <td class="align-middle">{{ commercial_request.user.first_name }} {{ commercial_request.user.last_name }}</td>
                    <td class="align-middle">{{ commercial_request.user.custom.organization }}</td>
                    <td class="text-center align-middle">
                        <div class="d-grid">
                        <a href="{% url 'commercial_request_detail' commercial_request.id %}" style="justify-self: center;">Просмотр</a>
                        </div>
                    </td>
                    <td> <div class="d-grid">
                        <a href="{% url 'commercial_request_document' commercial_request.id %}" class="btn btn-primary">Получить документ</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}