{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Детали коммерческого запроса
{% endblock %}
{% block content %}
    <div class="container" style="width: 80%;">
        <h2 class="text-center text-muted my-4 fw-light">Детали коммерческого запроса {{ commercial_request.id }}</h2>
        <form method="POST">
            {% csrf_token %}
            <table class="table border mt-3 mb-2">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Категория</th>
                        <th class="text-center">Количество</th>
                        
                        <th class="text-center">Процессоры</th>
                        <th class="text-center">Материнские платы</th>
                        <!-- Добавьте другие поля модели ProductItem, которые нужно показать -->
                        <th class="text-center">Цена</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product_item in product_items %}
                        <tr>
                            <td>{{ product_item.id }}</td>
                            <td>{{ product_item.category }}</td>
                            <td class="text-center">{{ product_item.quantity }}</td>
                            <td class="text-center">
                                {% for processor in product_item.processors.all %}
                                    {{ processor.name }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                {% for motherboard in product_item.motherboards.all %}
                                    {{ motherboard.name }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <!-- Добавьте другие поля модели ProductItem, которые нужно показать -->
                            <td class="text-center">
                                <input type="number" name="price_{{ product_item.id }}" value="{{ product_item.price }}" required class="form-control">
                                <input type="hidden" name="product_item_id_{{ product_item.id }}" value="{{ product_item.id }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'commercial_request_document' commercial_request.id %}" class="btn btn-primary">Получить документ</a>
        </form>
    </div>
    {% endblock %}