{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Отзывы
{% endblock %}
{% block content %}
<h1>Отзывы</h1>
<div class="card-list">
    {% for feedback in feedbacks %}
        <div class="card">
            <div class="card-header">
                <div class="feedback-header-item">{{ feedback.name }}</div>
                <div class="feedback-header-item">{{ feedback.phone }}</div>
                <div class="feedback-header-item">{{ feedback.email }}</div>
                <div class="feedback-header-item">{{ feedback.created_at }}</div>
            </div>
            <div class="card-body">
                <p>{{ feedback.message }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}