{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Отзывы
{% endblock %}
{% block content %}
<div class="container py-3" style="width: 80%;">
    <div class="card-list">
        {% if feedbacks %}
            <h4 class="title-whowe text-center">Новые отзывы</h4>
            {% for feedback in feedbacks %}
                {% if not feedback.is_read %}
                    <div class="card mb-4">
                        <div class="card-header d-flex" style="justify-content: space-between;">
                            <div class="feedback-header-item">{{ feedback.name }}</div>
                            <div class="feedback-header-item">{{ feedback.phone }}</div>
                            <div class="feedback-header-item">{{ feedback.email }}</div>
                            <div class="feedback-header-item">{{ feedback.created_at }}</div>
                        </div>
                        <div class="card-body">
                            <p>{{ feedback.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <h4 class="title-whowe text-center">Прочитанные отзывы</h4>
            {% for feedback in feedbacks %}
                {% if feedback.is_read %}
                    <div class="card mb-4">
                        <div class="card-header d-flex" style="justify-content: space-between;">
                            <div class="feedback-header-item">{{ feedback.name }}</div>
                            <div class="feedback-header-item">{{ feedback.phone }}</div>
                            <div class="feedback-header-item">{{ feedback.email }}</div>
                            <div class="feedback-header-item">{{ feedback.created_at }}</div>
                        </div>
                        <div class="card-body">
                            <p>{{ feedback.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <h4 class="title-whowe text-center">Пока пусто</h4>
        {% endif %}
    </div>
</div>
    
    <script>
        const csrfToken = '{{ csrf_token }}';
    </script>
{% endblock %}