{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Детали заказа
{% endblock %}
{% block content %}
<h1>Детали заказа #{{ order.id }}</h1>
<p><strong>Пользователь:</strong> {{ order.user.username }}</p>
<p><strong>Статус:</strong>
    <select name="status" onchange="updateOrderStatus(this.value, {{ order.id }})">
        {% for status in order.STATUS_CHOICES %}
        <option value="{{ status.0 }}" {% if order.status == status.0 %}selected{% endif %}>{{ status.1 }}</option>
        {% endfor %}
    </select>
</p>
<p><strong>Дата создания:</strong> {{ order.created_at }}</p>
<p><strong>Адрес доставки:</strong> {{ order.delivery_address }}</p>
<p><strong>Цена:</strong>{{ order.total_price }}</p>

<h2>Элементы заказа</h2>
<ul>
    {% for item in order.items.all %}
    <li>
        <strong>Продукт:</strong> {{ item.product.name }}<br>
        <strong>Количество:</strong> {{ item.quantity }}<br>
        <strong>Примечание:</strong> {{ item.note }}<br>
        
        {% if item.processor %}
            <strong>Процессор:</strong> {{ item.processor }}<br>
        {% endif %}
        
        {% if item.mother %}
            <strong>Материнская плата:</strong> {{ item.mother }}<br>
        {% endif %}
        
        {% if item.ram %}
            <strong>Оперативная память:</strong> {{ item.ram }}<br>
        {% endif %}
        
        {% if item.storage %}
            <strong>Хранилище:</strong> {{ item.storage }}<br>
        {% endif %}
        
        {% if item.graphics %}
            <strong>Графика:</strong> {{ item.graphics }}<br>
        {% endif %}
        
        {% if item.operating_system %}
            <strong>Операционная система:</strong> {{ item.operating_system }}<br>
        {% endif %}
        
        {% if item.screen_sizes %}
            <strong>Размеры экрана:</strong> {{ item.screen_sizes }}<br>
        {% endif %}
        
        {% if item.screen_type %}
            <strong>Тип экрана:</strong> {{ item.screen_type }}<br>
        {% endif %}
        
        {% if item.screen_resolution %}
            <strong>Разрешение экрана:</strong> {{ item.screen_resolution }}<br>
        {% endif %}
        
        {% if item.touch_screen_touches %}
            <strong>Сенсорный экран:</strong> {{ item.touch_screen_touches }}<br>
        {% endif %}
        
        {% if item.formfactor %}
            <strong>Формфактор:</strong> {{ item.formfactor }}<br>
        {% endif %}
        
        {% if item.webcam %}
            <strong>Веб-камера:</strong> {{ item.webcam }}<br>
        {% endif %}
        
        {% if item.keyset %}
            <strong>Клавиатура:</strong> {{ item.keyset }}<br>
        {% endif %}
        
        {% if item.keyboard_backlight %}
            <strong>Подсветка клавиатуры:</strong> {{ item.keyboard_backlight }}<br>
        {% endif %}
        
        {% if item.power_supplies %}
            <strong>Блоки питания:</strong> {{ item.power_supplies }}<br>
        {% endif %}
        
        {% if item.sizes %}
            <strong>Размеры:</strong> {{ item.sizes }}<br>
        {% endif %}
        
        {% if item.controllers %}
            <strong>Контроллеры:</strong> {{ item.controllers }}<br>
        {% endif %}
        
    </li>
{% endfor %}

</ul>
<!-- Форма для утверждения цены -->
    <form method="post" action="{% url 'approve_price' order.id %}">
        {% csrf_token %}
        <label for="approved_price">Утвердить цену:</label>
        <input type="text" id="approved_price" name="approved_price">
        <button type="submit">Утвердить</button>
    </form>

    <script>
        // Функция для обновления статуса заказа через AJAX
        function updateOrderStatus(status, orderId) {
            $.ajax({
                url: '{% url 'update_order_status' %}',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'order_id': orderId,
                    'status': status
                },
                success: function(data) {
                    if (data.success) {
                        // Обновление успешно выполнено
                        $('#order-row-' + orderId).load(location.href + ' #order-row-' + orderId);
                    } else {
                        // Обработка ошибок, если необходимо
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    // Обработка ошибок AJAX запроса
                }
            });
        }
        
        </script>
{% endblock %}