{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Детали заказа
{% endblock %}
{% block content %}
<div class="container" style="width: 80%;">
<h1 class="text-center text-muted my-4 fw-light">Детали заказа №{{ order.id }}</h1>
<p><strong>От:</strong> {{ order.user.first_name }} {{ order.user.last_name }}, {{ order.user.custom.organization }}</p>
<p><strong>Статус:</strong>
    <select name="status" onchange="updateOrderStatus(this.value, {{ order.id }})">
        {% for status in order.STATUS_CHOICES %}
        <option value="{{ status.0 }}" {% if order.status == status.0 %}selected{% endif %}>{{ status.1 }}</option>
        {% endfor %}
    </select>
</p>
<p><strong>Дата создания:</strong> {{ order.created_at }}</p>
<p><strong>Адрес доставки:</strong> {{ order.delivery_address }}</p>
<p><strong>Цена:</strong>{{ order.total_price }}</p>

<table class="table border mt-3 mb-2">
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Примечание</th>
            {% if order.items.all|length > 0 and order.items.all.0.processor %}<th>Процессор</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.mother %}<th>Материнская плата</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.ram %}<th>Оперативная память</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.storage %}<th>Хранилище</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.graphics %}<th>Графика</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.operating_system %}<th>Операционная система</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.screen_sizes %}<th>Размеры экрана</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.screen_type %}<th>Тип экрана</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.screen_resolution %}<th>Разрешение экрана</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.touch_screen_touches %}<th>Сенсорный экран</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.formfactor %}<th>Формфактор</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.webcam %}<th>Веб-камера</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.keyset %}<th>Клавиатура</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.keyboard_backlight %}<th>Подсветка клавиатуры</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.power_supplies %}<th>Блоки питания</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.sizes %}<th>Размеры</th>{% endif %}
            {% if order.items.all|length > 0 and order.items.all.0.controllers %}<th>Контроллеры</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in order.items.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.note }}</td>
            {% if item.processor %}<td>{{ item.processor }}</td>{% endif %}
            {% if item.mother %}<td>{{ item.mother }}</td>{% endif %}
            {% if item.ram %}<td>{{ item.ram }}</td>{% endif %}
            {% if item.storage %}<td>{{ item.storage }}</td>{% endif %}
            {% if item.graphics %}<td>{{ item.graphics }}</td>{% endif %}
            {% if item.operating_system %}<td>{{ item.operating_system }}</td>{% endif %}
            {% if item.screen_sizes %}<td>{{ item.screen_sizes }}</td>{% endif %}
            {% if item.screen_type %}<td>{{ item.screen_type }}</td>{% endif %}
            {% if item.screen_resolution %}<td>{{ item.screen_resolution }}</td>{% endif %}
            {% if item.touch_screen_touches %}<td>{{ item.touch_screen_touches }}</td>{% endif %}
            {% if item.formfactor %}<td>{{ item.formfactor }}</td>{% endif %}
            {% if item.webcam %}<td>{{ item.webcam }}</td>{% endif %}
            {% if item.keyset %}<td>{{ item.keyset }}</td>{% endif %}
            {% if item.keyboard_backlight %}<td>{{ item.keyboard_backlight }}</td>{% endif %}
            {% if item.power_supplies %}<td>{{ item.power_supplies }}</td>{% endif %}
            {% if item.sizes %}<td>{{ item.sizes }}</td>{% endif %}
            {% if item.controllers %}<td>{{ item.controllers }}</td>{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


</ul>
<!-- Форма для утверждения цены -->
    <form method="post" action="{% url 'approve_price' order.id %}">
        {% csrf_token %}
        <label for="approved_price">Утвердить цену:</label>
        <input type="text" id="approved_price" name="approved_price">
        <button type="submit">Утвердить</button>
    </form>
</div>
    <script>
        // Функция для обновления статуса заказа через AJAX
        function updateOrderStatus(status, orderId) {
            $.ajax({
                url: '{% url 'update_order_status' %}',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'order_id': orderId,
                    'status': status
                },
                success: function(data) {
                    if (data.success) {
                        // Обновление успешно выполнено
                        $('#order-row-' + orderId).load(location.href + ' #order-row-' + orderId);
                    } else {
                        // Обработка ошибок, если необходимо
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    // Обработка ошибок AJAX запроса
                }
            });
        }
        
        </script>
{% endblock %}