{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% block title %}
Все Продукты
{% endblock %}
{% block content %}
<div class="container" style="width: 80%; padding-top: 3rem;">
<ul class="list-group">
    <li class="list-group-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuaPhxgtyaCQStpttEXIZj4VctG9goIoOAtQ&s" style="width: 50px; height: 50px; margin-right: 10px;">
        An item
    </li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
</div>
{% endblock %}