{% extends 'base.html' %}
{% load static %}
{% block title %}
О нас
{% endblock %}
{% block content %}
<div class="image-container3" style="background-color: transparent; background-image: url('/static/images/aboutus.png'); background-size: cover; background-position: center;">
    <div class="image-part2" id="" style="height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5);">
    <div class="text-container2 text-wrap" style="">
        <p class="text-start"> <strong style="color: #46c9df;">We are</strong><strong> QazaQ Technology</strong></p>
        <h4 class="title" style="font-size: 30px; margin-top: 20px; padding-bottom: 6px; word-break: break-word; line-height: 30px;">Современные технологии и новаторские разработки.</h4>
        <p class="text" style="font-size: 18px;">Наши технологии основаны на умных и интуитивно понятных функциях, которые призваны упростить и улучшить опыт работы пользователей.</p>
    </div>
</div>
</div>

<section class="features7 cid-svMI8yuE9y" id="features08-i" style="padding-bottom: 0; padding-top: 3rem; background-color: white; border: none; text-align: center;">
    <!-- <div class="container" style="padding-top: 20px !important;"> -->
    <div class="row justify-content-center" style="display: flex; flex-wrap: wrap; width: 100%;">
               
            <div class="item features-image col-md-1" style="width: 250px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'whowe'%}">
                    <div class="item-wrapper" style="height: 330px; border: none;">
                    <div class="item-img">
                        <img src="/static/images/company.jpg" alt="Features Image" style="object-fit: cover;">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>Наша компания</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4 mb-0"><strong>Наша философия — мыслим и действуем вне стандартных рамок</strong></p>

                    </div>
                </div>
            </a>
            </div>

            <div class="item features-image col-md-1" style="width: 250px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'faq'%}">
                    <div class="item-wrapper" style="height: 330px; border: none;">
                    <div class="item-img">
                        <img src="/static/images/faq.png" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>FAQs</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4 mb-0"><strong>Часто задаваемые вопросы</strong></p>

                    </div>
                </div>
            </a>
            </div>

            <div class="item features-image col-md-1" style="width: 250px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'map'%}">
                    <div class="item-wrapper" style="height: 330px; border: none;">
                    <div class="item-img">
                        <img src="/static/images/map.png" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>Адреса</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4 mb-0"><strong>Где купить технику Qazaq Technology</strong></p>

                    </div>
                </div>
            </a>
            </div>

            <div class="item features-image col-md-1" style="width: 250px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'contactus'%}">
                    <div class="item-wrapper" style="height: 330px; border: none;">
                    <div class="item-img">
                        <img src="/static/images/contactus.png" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>Свяжитесь с нами</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4 mb-0"><strong>Ваше мнение имеет для нас высокое значение</strong></p>

                    </div>
                </div>
            </a>
            </div>

            <div class="item features-image col-md-1" style="width: 250px;margin: 0.5rem 0.5rem;">
                <a href="{% url 'partners'%}">
                    <div class="item-wrapper" style="height: 330px; border: none;">
                    <div class="item-img">
                        <img src="/static/images/contactus.png" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>Наши партнеры</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4 mb-0"><strong>1231212312312 32131232131231212</strong></p>

                    </div>
                </div>
            </a>
            </div>
        
              
    </div>
    
<!-- </div>  -->
</section>
{% endblock %}

