{% extends 'base.html' %}
{% load static %}
{% block title %}
О нас
{% endblock %}
{% block content %}
<div class="image-container3" style="background-color: transparent; height: 500px; background-image: url('https://p3-ofp.static.pub/ShareResource/indirect/homepage/about-hp/images/lenovo-about-us-hp-banner-638.jpg');">
    <div class="image-part2" id="part1" style="width: 600px; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5);">
    <div class="text-container2 text-wrap" style="">
        <p class="text-start"> <strong style="color: #46c9df;">We are</strong><strong> Qazaq Technology</strong></p>
        <h4 class="title" style="font-size: 30px; margin-top: 20px; padding-bottom: 6px; word-break: break-word; line-height: 30px;">Передовые технологии  и инновации</h4>
        <p class="text" style="font-size: 18px;">В основе наших технологий — умные и интуитивно понятные функции, призванные сделать работу пользователей проще и удобнее.</p>
    </div>
</div>
</div>

<section class="features7 cid-svMI8yuE9y" id="features08-i" style="padding-bottom: 0; padding-top: 0rem; background-color: white; border: none; text-align: center;">
    <div class="container px-4" style="padding-top: 20px !important;">
    <div class="row justify-content-center" style="display: flex; flex-wrap: wrap; width: 100%;">
               
            <div class="item features-image col-md-1" style="width: 250px; height: 280px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'whowe'%}">
                    <div class="item-wrapper" style="width: 250px; height: 280px; border: none;">
                    <div class="item-img">
                        <img src="//p1-ofp.static.pub/fes/cms/2021/07/13/zuv0mfg8va7kx2j9l7u9xwk9pd8t64895531.png" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>Наша компания</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4"><strong>Мы думаем и действуем иначе   </strong></p>

                    </div>
                </div>
            </a>
            </div>

            <div class="item features-image col-md-1" style="width: 250px; height: 280px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'faq'%}">
                    <div class="item-wrapper" style="width: 250px; height: 280px; border: none;">
                    <div class="item-img">
                        <img src="//p1-ofp.static.pub/ShareResource/indirect/homepage/about-hp/images/about-tab-innovation.jpg" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>FAQs</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4"><strong>Часто задаваемые вопросы</strong></p>

                    </div>
                </div>
            </a>
            </div>

            <div class="item features-image col-md-1" style="width: 250px; height: 280px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'map'%}">
                    <div class="item-wrapper" style="width: 250px; height: 280px; border: none;">
                    <div class="item-img">
                        <img src="//p3-ofp.static.pub/fes/cms/2021/07/13/vktze8os6u5ons2ladvj60vc92wckr679891.jpg" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>Адреса</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4"><strong>Где купить технику Qazaq Technology</strong></p>

                    </div>
                </div>
            </a>
            </div>

            <div class="item features-image col-md-1" style="width: 250px; height: 280px; margin: 0.5rem 0.5rem;">
                <a href="{% url 'contactus'%}">
                    <div class="item-wrapper" style="width: 250px; height: 280px; border: none;">
                    <div class="item-img">
                        <img src="//p2-ofp.static.pub/fes/cms/2021/07/13/ly439vcz4yvfoc2j5utktlgo9a2a8g385850.jpg" alt="Features Image">
                    </div>
                    <div class="item-content" style="padding: 0; margin-top: 1rem;">
                        <h5 class="item-title mbr-fonts-style display-5 mb-0" style="color: #0196e3; font-size: 1.5rem; padding: 0; line-height: normal;"><strong>Свяжитесь с нами</strong></h5>
                        <p class="mbr-text mbr-fonts-style display-4"><strong>Ваше мнение важно для нас</strong></p>

                    </div>
                </div>
            </a>
            </div>
        
              
    </div>
    
</div>
</section>
{% endblock %}

