{% extends 'base.html' %}
{% load static %}
{% block title %}
Корзина
{% endblock %}
{% block content %}
<div class="image-container2" style="background-position: center; background-image: url('{% static 'images/ecommerce_20shopping_20cart.webp' %}');">
    <div class="text-container">
        Ваша корзина
    </div>
</div>
<div class="container d-flex flex-column" style="min-height: 42.5vh; width: 80%;">
    {% if cart_items %}
    <table class="table border mt-3 mb-2">
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Количество</th>
                <th class="text-center">Детали</th>
                <th class="text-center">Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td class="products-td" >
                    <a href="{% url 'product_detail' item.product.pk %}">{{ item.product.name }}</a>
                </td>                
                <td class="products-td text-center">{{ item.quantity }}</td>
                <td class="text-center align-middle">
                    <button id="toggle-button-{{ forloop.counter0 }}" type="button" class="btn btn-primary" style="width: 100px;" onclick="toggleDetails({{ forloop.counter0 }})">Показать</button>
                </td>
                <td class="text-center">
                    <form method="post" action="{% url 'delete_cart_item' item.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="" style="border: none; background-color: transparent;"><i class="fa-solid fa-trash fa-3x" style="color: red;"></i></button>
                    </form>
                </td>
            </tr>
            <tr id="details-{{ forloop.counter0 }}" style="display: none;">
                <td colspan="4">
                    <table class="table table-bordered">
                        {% if item.processor %}
                        <tr>
                            <th>Процессор</th>
                            <td>{{ item.processor }}</td>
                        </tr>
                        {% endif %}
                        {% if item.mother %}
                        <tr>
                            <th>Материнская плата</th>
                            <td>{{ item.mother }}</td>
                        </tr>
                        {% endif %}
                        {% if item.ram %}
                        <tr>
                            <th>ОЗУ</th>
                            <td>{{ item.ram }}</td>
                        </tr>
                        {% endif %}
                        {% if item.storage %}
                        <tr>
                            <th>Накопитель</th>
                            <td>{{ item.storage }}</td>
                        </tr>
                        {% endif %}
                        {% if item.graphics %}
                        <tr>
                            <th>Память графического процессора</th>
                            <td>{{ item.graphics }}</td>
                        </tr>
                        {% endif %}
                        {% if item.operating_system %}
                        <tr>
                            <th>Операционная система</th>
                            <td>{{ item.operating_system }}</td>
                        </tr>
                        {% endif %}
                        {% if item.screen_sizes %}
                        <tr>
                            <th>Размер экрана</th>
                            <td>{{ item.screen_sizes }}</td>
                        </tr>
                        {% endif %}
                        {% if item.screen_type %}
                        <tr>
                            <th>Тип экрана</th>
                            <td>{{ item.screen_type }}</td>
                        </tr>
                        {% endif %}
                        {% if item.screen_resolution %}
                        <tr>
                            <th>Разрешение экрана</th>
                            <td>{{ item.screen_resolution }}</td>
                        </tr>
                        {% endif %}
                        {% if item.touch_screen_touches %}
                        <tr>
                            <th>Сенсорный экран количество одновременных касаний</th>
                            <td>{{ item.touch_screen_touches }}</td>
                        </tr>
                        {% endif %}
                        {% if item.formfactor %}
                        <tr>
                            <th>Форм-фактор</th>
                            <td>{{ item.formfactor }}</td>
                        </tr>
                        {% endif %}
                        {% if item.webcam %}
                        <tr>
                            <th>Веб-камера</th>
                            <td>{{ item.webcam }}</td>
                        </tr>
                        {% endif %}
                        {% if item.keyset %}
                        <tr>
                            <th>Набор клавиатуры мыши</th>
                            <td>{{ item.keyset }}</td>
                        </tr>
                        {% endif %}
                        {% if item.keyboard_backlight %}
                        <tr>
                            <th>Подсветка клавиатуры</th>
                            <td>{{ item.keyboard_backlight }}</td>
                        </tr>
                        {% endif %}
                        {% if item.power_supplies %}
                        <tr>
                            <th>Блок питания</th>
                            <td>{{ item.power_supplies }}</td>
                        </tr>
                        {% endif %}
                        {% if item.sizes %}
                        <tr>
                            <th>Размеры</th>
                            <td>{{ item.sizes }}</td>
                        </tr>
                        {% endif %}
                        {% if item.controllers %}
                        <tr>
                            <th>Контроллеры</th>
                            <td>{{ item.controllers }}</td>
                        </tr>
                        {% endif %}
                        {% if item.controllers %}
                        <tr>
                            <th>Контроллеры</th>
                            <td>{{ item.controllers }}</td>
                        </tr>
                        {% endif %}
                        {% if item.note %}
                        <tr>
                            <th>Примечание</th>
                            <td>{{ item.note }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post" action="{% url 'order_create' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary shadow-0 w-100 d-block mt-2">Оформить заказ</button>
    </form>
{% else %}
<div class="alert alert-info mt-3 text-center" role="alert">
    <strong>Тут пока пусто!</strong> Добавьте товары в корзину для оформления заказа.
</div>
{% endif %}


<script>
function toggleDetails(index) {
    var detailsRow = document.getElementById('details-' + index);
    var button = document.getElementById('toggle-button-' + index);
    
    if (detailsRow.style.display === 'none' || detailsRow.style.display === '') {
        detailsRow.style.display = 'table-row';
        button.textContent = 'Скрыть';
    } else {
        detailsRow.style.display = 'none';
        button.textContent = 'Показать';
    }
}

</script>

{% endblock %}