{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ category.name }}
{% endblock %}
{% block content %}
<style>
    .image-container {
    /* margin-top: 100px; */
    position: relative;
    width: 100%;
    height: 150px;
    background-image: url('https://p3-ofp.static.pub/ShareResource/na/laptops-splitter/hero/lenovo-legion-5-and-yoga-slim-9-desktop.jpg'); /* Путь к вашему изображению */
    background-size: cover;
    background-position: center;
}
    .card {
      width: 100%; 
      display: inline-block; 
      /* vertical-align: top; */
      /* margin-top: 20px;  */
      background-color: #f2f3f7;
      border: 1px solid #ccc;
    }
    .row{
      /* margin: auto; */
    }
    a{
      text-decoration: none;
    }
    .card{
      height: 350px;
    }
    .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }

    .product-item.collapsed .card-text {
        -webkit-line-clamp: initial;
    }

    .product-item.collapsed .card-text {
        display: none;
    }
</style>
<div class="image-container"></div>
    <section class="features7 cid-svMI8yuE9y" id="features08-i" style="padding-bottom: 0; padding-top: 2rem;">  
      <div class="container">
          <div class="mbr-section-head pb-5">
              <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1" style="color: #0196e3;">
                  <strong>{{ category.name }}</strong>
              </h4>
          </div>
          <div class="row justify-content-center">
              {% for product in products %}
               
                  <div class="item features-image сol-12 col-md-6 col-lg-4">
                      <a href="{% url 'product_detail' product.id %}">
                      <div class="item-wrapper">
                          <div class="item-img">
                              <img src="{{ product.images.all.0.image.url }}" alt="Features Image">
                          </div>
                          <div class="item-content">
                              <h5 class="item-title mbr-fonts-style display-5" style="color: #0196e3;"><strong>{{ product.name }}</strong></h5>
                              <p class="mbr-text mbr-fonts-style mt-3 display-4"><strong>{{ product.features }}</strong></p>
                          </div>
                      </div>
                  </a>
                  </div>
              
              {% endfor %}
          </div>
      </div>
  </section>



  
{% endblock %}