{% extends 'base.html' %}
{% load static %}
{% block title %}
Наши продукты
{% endblock %}
{% block content %}
<section class="features7 cid-svMI8yuE9y" id="features08-i" style="padding-bottom: 0; padding-top: 2rem;">  
    <div class="container">
        <div class="row justify-content-center">
            {% for category in categories %}
             
                <div class="item features-image сol-12 col-md-1 col-lg-4">
                    <a href="{% url 'category_products' category.id %}">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="{{ category.image.url }}" alt="Features Image">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5" style="color: #0196e3;"><strong>{{ category.name }}</strong></h5>
                            <p class="mbr-text mbr-fonts-style mt-3 display-4"><strong>{{ category.description }}</strong></p>
                        </div>
                    </div>
                </a>
                </div>
            
            {% endfor %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              
        </div>
    </div>
</section>

{% endblock %}




