{% extends 'base.html' %}
{% load static %}
{% block title %}
Коммерческое предложение
{% endblock %}
{% block content %}    
<h1>Commercial Offer</h1>
    
<form method="post">
    {% csrf_token %}
    
    {{ formset.management_form }}
    
    {% for form in formset.forms %}
        <div class="formset-form">
            {{ form.as_p }}
            <!-- Отображение полей формы как абзацев (p) -->
        </div>
    {% endfor %}
    
    <button type="submit">Submit</button>
</form>

{% endblock %}