{% extends 'base.html' %}
{% load static %}
{% block title %}
Часто задаваемые вопросы
{% endblock %}
{% block content %}
<div class="image-container" style="background-image: url('{% static 'images/faq.webp' %}'); background-position: bottom;">
    <div class="text-container">
    </div>
</div>
<section class="video1 cid-svGLmnD9Wg" id="video01-6" style="padding-top: 3rem; padding-bottom: 3rem;">
<div class="align-left container" style="">
    <h4 class="">Как я могу сбросить пароль к своему аккаунту?</h4>
    <p>Чтобы сбросить пароль к вашему аккаунту, перейдите на страницу входа и нажмите ссылку "Забыли пароль?" или "Сбросить пароль". Затем следуйте инструкциям на экране для сброса пароля. Обычно вам будет отправлено письмо на вашу зарегистрированную электронную почту с дальнейшими инструкциями по сбросу пароля. Если вы не получаете письмо, проверьте папку "Спам" в вашем почтовом ящике, а также убедитесь, что вы вводите правильный адрес электронной почты. Если вы все еще испытываете проблемы, свяжитесь с нашей службой поддержки, чтобы получить дополнительную помощь.</p>
</div>
</section>
{% endblock %}