{% extends 'base.html' %}
{% load static %}
{% block title %}
QazTech Lab
{% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">


    <div class="carousel-inner" style="">

      <div class="image-part2" id="" style="height: 100%; top: 0; left: 0; position: absolute; z-index: 5;">
        <div class="text-container2 text-wrap" style="">
            <div class="carousel-indicators d-flex justify-content-between w-100 m-0" style="position: relative; z-index: 5;">
                <div class="d-flex flex-column align-items-start">
                  <span class="button-label">Эксклюзивность</span>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <span class="button-label">Безопасность</span>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="d-flex flex-column align-items-end">
                  <span class="button-label">Контроль</span>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
              </div>   
        </div>
      </div>

      <div class="carousel-item active">
        <div class="image-part2" id="" style="height: 100%; top: 0; left: 0; position: absolute; z-index: 2;  background-color: rgba(0, 0, 0, 0.5);">
          <div class="text-container2 text-wrap" style="">
              <p class="text-start"> <strong style="color: #00a2e8;">Эксклюзивная продукция:</strong><strong> 5 уровень безопасности</strong></p>
              <h4 class="title" style="font-size: 30px; margin-top: 0; padding-bottom: 6px; word-break: break-word; line-height: 30px;">Наши инновации обеспечивают высокий уровень безопасности</h4>
              <p class="text" style="font-size: 18px;">Мы представляем эксклюзивные технологии, которые гарантируют максимальный уровень безопасности. Наши разработки основаны на передовых методах и обеспечивают надежную защиту данных и систем.</p>
          </div>
         </div>
        <img src="{% static 'images/lock.jpg' %}" class="d-block w-100" alt="..."  style="height: 600px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <div class="image-part2" id="" style="height: 100%; top: 0; left: 0; position: absolute; z-index: 2;  background-color: rgba(0, 0, 0, 0.5);">
          <div class="text-container2 text-wrap" style="">
              <p class="text-start"> <strong style="color: #00a2e8;">Устройство <br>запуска по</strong><strong><br> отпечатку пальца</strong></p>
              <h4 class="title" style="font-size: 30px; margin-top: 0; padding-bottom: 6px; word-break: break-word; line-height: 30px;">Идентификация по отпечатку для безопасного доступа</h4>
              <p class="text" style="font-size: 18px;">Наша технология управления доступом на основе отпечатков пальцев обеспечивает простой и безопасный способ запуска систем и приложений</p>
          </div>
        </div>
        <img src="{% static 'images/fp.jpg' %}" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover; transform: scaleX(-1);">
      </div>
      <div class="carousel-item">
        <div class="image-part2" id="" style="height: 100%; top: 0; left: 0; position: absolute; z-index: 2;  background-color: rgba(0, 0, 0, 0.5);">
          <div class="text-container2 text-wrap" style="">
              <p class="text-start"> <strong style="color: #00a2e8;">Датчик <br>вскрытия</strong><strong> корпуса</strong></p>
              <h4 class="title" style="font-size: 30px; margin-top: 0; padding-bottom: 6px; word-break: break-word; line-height: 30px;">Контроль за целостностью системы</h4>
              <p class="text" style="font-size: 18px;">Наш датчик вскрытия корпуса обеспечивает высокую степень защиты вашего оборудования и систем. Этот инновационный механизм предназначен для обнаружения любых попыток несанкционированного доступа или вмешательства в корпус оборудования.</p>
          </div>
        </div>
        <img src="{% static 'images/dt.jpg' %}" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover; transform: scaleX(-1);">
      </div>
    </div>
  </div>    
{% endblock %}