{% extends 'base.html' %}
{% load static %}
{% block title %}
Вход
{% endblock %}
{% block content %}
<div class="container" style="width: 80%; padding-top: 3rem;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body p-4 text-center">
                    <form method="post" class="form">
                        {% csrf_token %}
                        <h2 class="fw-bold mb-2 text-uppercase">Вход</h2>
                        <p class="text-black-50 small my-2">Пожалуйста, введите свою почту и пароль.</p>
                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Почта" class="form-control form-control-lg">
                        </div>
                        <div class="mb-2">
                            <input type="password" name="password" placeholder="Пароль" class="form-control form-control-lg">
                        </div>
                        <p class="small mb-2"><a href="" class="text-black-50">Забыли пароль?</a></p>
                        <button type="submit" class="btn btn-info w-100">Вход</button>
                    </form>
                    <div>
                        <p class="text-black-50 small my-2">У вас нет аккаунта?<a href="{% url 'signup' %}" class="text-black-50 fw-bold">Регистрация</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}