{% extends 'base.html' %}
{% load static %}
{% block title %}
Домашняя страница
{% endblock %}
{% block content %}
<section class="video1 cid-svGLmnD9Wg" id="video01-6" style="padding-top: 4rem; padding-bottom: 3rem;">
    <div class="google-map align-center" style="height: 700px;">
        <iframe frameborder="0" style="border:0; width: 100%; height: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11625.454141864364!2d76.82793551938185!3d43.24380226361066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836917c87e86cb%3A0x1338bbbe8f9a772f!2sQazaQ%20Technology!5e0!3m2!1sru!2skz" allowfullscreen=""></iframe>
    </div>
</section>
{% endblock %}