{% load static %}
<header>
    <div class="p-4 text-center bg-white border-bottom" style="padding-bottom: 0!important;">
      <div class="container-fluid" style="width: 100%; margin: 0;">
        <div class="row" style="width: auto;">
          <div class="col-md-3 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
            <a href="{% url 'home' %}" class="d-flex">
            <img src="{% static 'images/new-logo.png' %}" height="50" />
          </a>
          </div>
          <div class="col-md-5 justify-content-center align-items-center my-auto">
            <form action="{% url 'search' %}" method="GET" class="d-flex input-group w-auto my-auto md-4 rounded">
              <input autocomplete="off" type="search" name="q" class="form-control form-control-lg" placeholder="Что вы ищете сегодня?" style="padding: 24px;"/>
              <button type="submit" class="btn btn-primary d-none d-lg-flex py-auto" style="box-shadow: none; border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;"><i class="fas fa-search" style="margin: auto;"></i></button>
              <div class="navs" style="margin-left: 1rem;">
              <a href="javascript:void(0);" class="icon" onclick="myFunction()" style="color: #00a2e8;">
                <i class="fa fa-bars fa-3x"></i>
              </a> 
              </div>    
          </form>      

        </div>
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center"> 
          {% if user.is_authenticated %}
          <!-- <h style="font-size: 19px;">{{ user.username }}</h> -->
          <a href="{% url 'cart' %}" style="margin-left:1rem;"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
          {% if user.is_staff %}
          <a href="{% url 'dashboard' %}" style="margin-left:1rem;">Панель управления</a>
          {% endif %}
          <a href="{% url 'profile' %}" style="margin-left:1rem;">Профиль</a>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="exit-bt">Выход</button>
          </form>
          {% else %}
          <a href="{% url 'login' %}" class="text-muted" style="margin-left:1rem; font-size: 16px;">Вход</a>
          <a href="{% url 'signup' %}" class="text-muted" style="margin-left:1rem; font-size: 16px;">Регистрация</a>
          {% endif %}

        </div>
      </div>
    </div>
        <div class="navbar-nav flex-row borderXwidth d-flex flex-wrap" id="myTopnav">
          {% for category in categories %}
          <a class="nav-link flex-fill" href="{% url 'category_products' category.id %}" data-category-id="{{ category.id }}">{{ category.name }}</a>
            {% endfor %}   
            {% if user.is_authenticated %}  
            {% endif %} 
      </div>
    </div>
      <div id="hoveredCategoryProducts" style="display: none; position: absolute; z-index: 9999; background-color: white; overflow: hidden; width: 100%;">
    </div>
  </header>
