{% extends 'base.html' %}
{% load static %}
{% block title %}
Корзина
{% endblock %}
{% block content %}
<h1>Оформление заказа</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Подтвердить заказ</button>
</form>

<h2>Ваши товары</h2>
<table>
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}