{% extends 'base.html' %}
{% load static %}
{% block title %}
Наши партнеры
{% endblock %}
{% block content %}
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img class="img" src="{% static 'images/ADATA-Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/alstyle.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/asrock.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Asus-logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/azerti.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Cooler_Master_logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/D-link-Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Dahua_Technology_logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/geil.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/giga.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/intel.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/lenovo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/marvel.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Microsoft_logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/msi.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Samsung-Symbol.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Seagate-logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/stn-logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/TOSHIBA_Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Transcend_Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/wd.png' %}" alt="">
    </div>
  </div>
</div>
<div class="align-left container">
<h4 class="title-whowe">Международное сотрудничество и партнерство</h4>
<p>
  Мы гордимся тем, что являемся партнерами таких мировых лидеров, как Lenovo, Microsoft, Intel, Asus, и многих других. Это сотрудничество позволяет нам не только локализовать и представлять их передовые решения на казахстанском рынке, но и активно участвовать в инновационных процессах на глобальном уровне.
</p>
<p>
  Благодаря этим партнерам, Qazaq Technology имеет доступ к новейшим технологиям и решениям мирового уровня. Мы активно привлекаем международных партнеров для обмена опытом и внедрения инноваций, что позволяет нам не только следовать мировым тенденциям, но и задавать их. Мы стремимся к созданию глобальной сети сотрудничества, способствующей технологическому прогрессу Казахстана.
</p>
<p>
  Наше стремление к технологическому прогрессу основывается на прочных партнерских отношениях и совместных усилиях с нашими международными партнерами. Мы уверены, что вместе сможем достичь новых высот в развитии технологий и внести значительный вклад в будущее Казахстана.
</p>
</div>
{% endblock %}