{% extends 'base.html' %}
{% load static %}
{% block title %}
Наши партнеры
{% endblock %}
{% block content %}
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img class="img" src="{% static 'images/ADATA-Logo.png' %}" alt="">
    </div>
    {% comment %} <div class="slide">
      <img class="img" src="{% static 'images/alstyle.png' %}" alt="">
    </div> {% endcomment %}
    <div class="slide">
      <img class="img" src="{% static 'images/asrock.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Asus-Logo.png' %}" alt="">
    </div>
    {% comment %} <div class="slide">
      <img class="img" src="{% static 'images/azerti.png' %}" alt="">
    </div> {% endcomment %}
    <div class="slide">
      <img class="img" src="{% static 'images/Cooler_Master_Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/D-Link-Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Dahua_Technology_logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/geil.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/giga.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/intel.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/lenovo.png' %}" alt="">
    </div>
    {% comment %} <div class="slide">
      <img class="img" src="{% static 'images/marvel.png' %}" alt="">
    </div> {% endcomment %}
    <div class="slide">
      <img class="img" src="{% static 'images/Microsoft_logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/msi.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Samsung-Symbol.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Seagate-logo.png' %}" alt="">
    </div>
    {% comment %} <div class="slide">
      <img class="img" src="{% static 'images/stn-logo.png' %}" alt="">
    </div> {% endcomment %}
    <div class="slide">
      <img class="img" src="{% static 'images/TOSHIBA_Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/Transcend_Logo.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/wd.png' %}" alt="">
    </div>


    <div class="slide">
      <img class="img" src="{% static 'images/amd.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/pro32.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/team.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/id.avif' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/pccooler.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/hik.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/zotac.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/deep.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/silicon.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/palit.svg' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/lite.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/super.jpg' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/nvidia.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/pny.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/a4.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/aoc.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/philips.png' %}" alt="">
    </div>
    <div class="slide">
      <img class="img" src="{% static 'images/def.png' %}" alt="">
    </div>
    {% comment %} <div class="slide">
      <img class="img" src="{% static 'images/asbis.png' %}" alt="">
    </div> {% endcomment %}
  </div>
</div>
<div class="align-left container">
<h4 class="title-whowe">Международное сотрудничество и партнерство</h4>
<p>
  Мы гордимся тем, что являемся партнерами таких мировых лидеров, как Lenovo, Microsoft, Intel, Asus, и многих других. Это сотрудничество позволяет нам не только локализовать и представлять их передовые решения на казахстанском рынке, но и активно участвовать в инновационных процессах на глобальном уровне.
</p>
<p>
  Благодаря этим партнерам, Qazaq Technology имеет доступ к новейшим технологиям и решениям мирового уровня. Мы активно привлекаем международных партнеров для обмена опытом и внедрения инноваций, что позволяет нам не только следовать мировым тенденциям, но и задавать их. Мы стремимся к созданию глобальной сети сотрудничества, способствующей технологическому прогрессу Казахстана.
</p>
<p>
  Наше стремление к технологическому прогрессу основывается на прочных партнерских отношениях и совместных усилиях с нашими международными партнерами. Мы уверены, что вместе сможем достичь новых высот в развитии технологий и внести значительный вклад в будущее Казахстана.
</p>
<h4 class="title-whowe">Создание аккаунта</h4>
<p>Для доступа к нашим эксклюзивным предложениям и возможности совершать покупки, вам необходимо создать аккаунт. Пожалуйста, обратите внимание, что наш сайт предназначен для бизнес-клиентов (B2B), поэтому процесс регистрации осуществляется через администратора.</p>
<p>Как создать аккаунт:</p>
<p>&nbsp;&nbsp;&nbsp;1. Запрос на создание аккаунта:</p>
<ul>
<li><p>Отправьте запрос на создание аккаунта, заполнив форму ниже.</p></li>
<li><p>Укажите необходимую информацию, такую как название вашей организации, контактное лицо, адрес электронной почты и номер телефона.</p></li>
</ul>
<p>&nbsp;&nbsp;&nbsp;2. Проверка и одобрение:</p>
<ul>
    <li><p>После получения вашего запроса, наш администратор свяжется с вами для подтверждения информации.</p></li>
    <li><p>Процесс проверки может занять до 24 часов. Мы постараемся обработать ваш запрос как можно быстрее.</p></li>
</ul>
<p>&nbsp;&nbsp;&nbsp;3. Получение учетных данных:</p>
<ul>
    <li><p>После одобрения вашего запроса, вы получите письмо с данными для входа на указанный вами адрес электронной почты.</p></li>
    <li><p>Воспользуйтесь этими данными для входа в ваш аккаунт и начните пользоваться всеми преимуществами нашего сайта.</p></li>
</ul>
<p>Мы благодарим вас за понимание и терпение. Если у вас возникнут вопросы, пожалуйста, свяжитесь с нашей службой поддержки по адресу  <a style="display: inline-block; color: #00a2e8;" href="mailto:support@example.com">info@qt.com.kz</a>  или через <a style="display: inline-block; color: #00a2e8;" href="{% url 'contactus' %}">эту форму</a>.</p>
<p>Спасибо, что выбираете нас!</p>
<form method="post">
  {% csrf_token %}
  <div class="row g-3">
  <div class="col-sm-6">
      <label for="id_first_name" class="form-label">Имя:</label>
      <input type="text" id="id_first_name" name="first_name" required class="form-control">
  </div>
  <div class="col-sm-6">
      <label for="id_last_name" class="form-label">Фамилия:</label>
      <input type="text" id="id_last_name" name="last_name" required class="form-control">
  </div>
  <div class="col-sm-12">
      <label for="id_organization" class="form-label">Организация:</label>
      <input type="text" id="id_organization" name="organization" required class="form-control">
  </div>
  <div class="col-sm-6">
      <label for="id_email" class="form-label">Email:</label>
      <input type="email" id="id_email" name="email" required class="form-control">
  </div>
  <div class="col-sm-6">
      <label for="id_phone_number" class="form-label">Номер телефона:</label>
      <input type="text" id="id_phone_number" name="phone_number" required class="form-control" pattern="(\+7|8)7\d{9}">
  </div>
  <div class="col-sm-12">
  <button type="submit" class="w-100 btn btn-primary btn-lg">Отправить запрос</button>
</div>
</div>
</form>
</div>
{% endblock %}