{% extends 'base.html' %}
{% load static %}
{% block title %}
Наши партнеры
{% endblock %}
{% block content %}
<style>
.img {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
  background-color: whitesmoke;
  padding: 2em 0em;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}
</style>
<div class="align-left container" style="width: 50%;">
<h4 class="title-whowe">Международное сотрудничество и партнерство</h4>
<p>Мы гордимся тем, что являемся OEM-партнером Lenovo, что позволяет нам локализовать и представлять их передовые решения на казахстанском рынке. Сотрудничество с Lenovo открывает нам доступ к передовым технологиям и решениям мирового уровня. Qazaq Technology активно привлекает международных партнеров для обмена опытом и внедрения инноваций, что позволяет нам не только следовать мировым тенденциям, но и задавать их. Мы стремимся к созданию глобальной сети сотрудничества, способствующей технологическому прогрессу Казахстана.</p>
<div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
      </div>
      <div class="slide">
        <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
      </div>
    </div>
  </div>
</div>
{% endblock %}