{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<section class="py-5 border-bottom">
    <div class="container w-100">
      <div class="row gx-5">
        <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
                {% if product.images.all %}
                    <!-- Главное изображение продукта -->
                    <img id="main-image" style="width: 100%; height: 500px; margin: auto; object-fit: contain;" class="rounded-4 fit" src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}" />
                {% else %}
                    <!-- Placeholder если нет изображений -->
                    <!-- <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="placeholder-image-url.jpg" alt="Нет изображения" /> -->
                {% endif %}
            </div>
            <div class="d-flex justify-content-center mb-3">
                {% for image in product.images.all %}
                <div class="border mx-1 rounded-2">
                    <img onclick="changeMainImage('{{ image.image.url }}')" width="60" height="60" class="rounded-2" src="{{ image.image.url }}" alt="{{ product.name }}" style="object-fit: contain; cursor: pointer;"/>
                </div>
            {% endfor %}
            </div>
            <a href="{% url 'map' %}" class="btn btn-primary shadow-0 w-100 d-block"></i>Где купить</a>
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                {{ product.name }}
            </h4>  
            <div class="mb-3">
              <span class="h5">
                {% if product.features %}
                {{ product.features }}
                {% endif %}
              </span>
              <!-- <span class="text-muted">что то</span> -->
            </div>
  
            <p>
                {{ product.description }}
            </p>
            <hr/>
            <div class="row">
              {% if processors_by_brand %}
              <dt class="col-4">Процессор:</dt>
              <dd class="col-8">
                {% for brand, processors in processors_by_brand.items %}
                {% if not forloop.first %}<br>{% endif %}{{ brand }} {% for processor_type, processor_list in processors.items %}{% if processor_type %}{{ processor_type }} {% endif %}{% for processor in processor_list %}{{ processor }}{% if not forloop.last %}/{% endif %}{% endfor %}{% if not forloop.last %}/{% endif %}
                {% endfor %}
                {% endfor %}
              </dd>
              {% endif %}
              {% if min_ram_size is not none and max_ram_size is not none %}
              <dt class="col-4">Оперативная память:</dt>
              <dd class="col-8">
                  от {{ min_ram_size }} ГБ до {{ max_ram_size }} ГБ
              </dd>
              {% endif %}
              {% if min_storage_size is not none and max_storage_size is not none %}
              <dt class="col-4">Накопители:</dt>
              <dd class="col-8">
                  от {{ min_storage_size }} {% if min_storage_unit == "GB" %} ГБ {% else %} ТБ {% endif %}
                  до {{ max_storage_size }} {% if max_storage_unit == "GB" %} ГБ {% else %} ТБ {% endif %}
              </dd>
              {% endif %}
              {% if product.weight %}
              <dt class="col-4">Вес:</dt>
              <dd class="col-8">                          
                {{ product.weight }} кг
                </dd>
                {% endif %}
            </div>
          </div>
        </main>
      </div>
    </div>
  </section>
  
  <!-- content -->

  
  <!-- Page Content -->
  {% for description in descriptions %}
  <section class="py-4 bg-light">
    {% if description.image %}
    <div class="image-container" style="background-image: url('{{ description.image.url }}');">
    {% endif %}
  </div>
    <div class="container w-100">
      <div class="row gx-5">
      <h2 class="fw-light mt-2 mb-2">{{ description.title }}</h2>
      <p>{{ description.text }}</p>
      </div>
    </div>
  </section>
  {% endfor %}

  <section class="border-top py-4">
    <div class="container w-100">
      <div class="row">
        <div class="col-lg-8 mb-4">
          <div class="border rounded-2 px-3 py-2 bg-white">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
              <li class="nav-item d-flex" role="presentation">
                <a class="nav-link d-flex align-items-center justify-content-center w-100 active h-auto" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Основные Характеристики</a>
              </li>
              <li class="nav-item d-flex" role="presentation">
                <a class="nav-link d-flex align-items-center justify-content-center w-100 h-auto" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Экран и Ввод</a>
              </li>
              <li class="nav-item d-flex" role="presentation">
                <a class="nav-link d-flex align-items-center justify-content-center w-100 h-auto" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Связь и Периферия</a>
              </li>
              <li class="nav-item d-flex" role="presentation">
                <a class="nav-link d-flex align-items-center justify-content-center w-100 h-auto" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Эксплуатация и Габариты</a>
              </li>
            </ul>
            <!-- Pills navs -->
  
            <!-- Pills content -->
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <table class="table border mt-3 mb-2">
                  {% if processors_by_brand %}
                  <tr>
                    <th class="py-2">Процессор:</th>
                    <td class="py-2 text-break">
                      {% for brand, processors in processors_by_brand.items %}
                      {% for processor_type, processor_list in processors.items %}
                          <li>{{ brand }}: 
                              {% if processor_type != "" %}
                                  {{ processor_type }} 
                              {% endif %} {% for processor in processor_list %}{{ processor }}{% if not forloop.last %}/{% endif %}{% endfor %}
                          </li>
                      {% endfor %}
                  {% endfor %}
                    </td>
                  </tr>
                  {% endif %}
                  {% if motherboards_by_line %}
                  <tr>
                    <th class="py-2">Материнская плата:</th>
                    <td class="py-2 text-break">
                      {% for line, types in motherboards_by_line.items %}
                      <li>{{ line }}: {% for type, names in types.items %}{{ type }}{% if not forloop.last %}/{% endif %}{% endfor %}
                      </li>
                    {% endfor %}
                    </td>
                  </tr>
                  {% endif %}
                  {% if ram_by_type %}
                  <tr>
                    <th class="py-2">Оперативная память:</th>
                    <td class="py-2 text-break">
                      {% for ram_type, sizes in ram_by_type.items %}
                      <li>{{ ram_type }}:
                      {% for size in sizes %}{{ size }}{% if not forloop.last %}/{% endif %}{% endfor %} ГБ
                      </li>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %}
                  {% if formatted_storage_by_type %}
                  <tr>
                    <th class="py-2">Накопители:</th>
                    <td class="py-2 text-break">
                        {% for storage_type, sizes in formatted_storage_by_type.items %}
                            <li>{{ storage_type }}: {% for size, unit in sizes %}{{ size }}{{ unit }}{% if not forloop.last %}/{% endif %}{% endfor %}</li>
                        {% endfor %}
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.graphics.all %}
                  <tr>
                    <th class="py-2">Видеокарта (дискретная):</th>
                    <td class="py-2 text-break">
                      {% for graph in product.graphics.all %}{{ graph.size }}{% if not forloop.last %}/{% endif %}{% endfor %} ГБ
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.operating_system.all %}
                  <tr>
                    <th class="py-2">Операционная система:</th>
                    <td class="py-2 text-break">
                      {{ product.operating_system }}
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.power_supplies.all %}
                    <tr>
                      <th class="py-2">Мощность блока питания:</th>
                      <td class="py-2 text-break">
                        {% for power in product.power_supplies.all %}{{ power.power }}{% if not forloop.last %}/{% endif %}{% endfor %} Вт
                      </td>
                  </tr>
                  {% endif %}
                  {% if product.controllers.all %}
                  <tr>
                    <th class="py-2">Контроллеры:</th>
                    <td class="py-2 text-break">
                        {% for contr in product.controllers.all %}{{ contr.name }}{% if not forloop.last %}/{% endif %}{% endfor %}
                    </td>
                </tr>
                {% endif %}
                </table>
              </div>
              <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <table class="table border mt-3 mb-2">
                          {% if product.screen_sizes.all %}
                          <tr>
                            <th class="py-2 align-middle">Размер экрана:</th>
                            <td class="py-2 text-break">
                              {% for screen_size in product.screen_sizes.all|dictsort:"size" %}{{ screen_size.size }}{% if not forloop.last %}/{% endif %}{% endfor %} дюймов
                            </td>
                        </tr>
                        {% endif %}
                        {% if product.screen_type.all %}
                        <tr>
                          <th class="py-2 align-middle">Тип экрана:</th>
                          <td class="py-2 text-break">
                            {% for type in product.screen_type.all %}{{ type.stype }}{% if not forloop.last %}/{% endif %}{% endfor %}
                          </td>
                      </tr> 
                      {% endif %}
                      {% if product.screen_resolution.all %}
                      <tr>
                        <th class="py-2 align-middle">Разрешение экрана:</th>
                        <td class="py-2 text-break">
                            {% for resolution in product.screen_resolution.all %}{{ resolution.resolution }}{% if not forloop.last %}/{% endif %}{% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if product.touch_screen_touches.all %}
                    <tr>
                      <th class="py-2 align-middle">Кол-во одновременных касаний:</th>
                      <td class="py-2 text-break">
                        {% for touches in product.touch_screen_touches.all %}{{ touches.touches }}{% if not forloop.last %}/{% endif %}{% endfor %} касаний
                      </td>
                  </tr> 
                  {% endif %}
                  </table>
              </div>
              <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <table class="table border mt-3 mb-2">
                  
                  {% if product.webcam.all %}
                    <tr>
                      <th class="py-2 align-middle">Веб-камера:</th>
                      <td class="py-2 text-break">
                        {% for web in product.webcam.all %}{{ web.cam }}{% if not forloop.last %}/{% endif %}{% endfor %}
                      </td>
                    </tr>
                    {% endif %}
                    {% if product.keyset.all %}
                    <tr>
                      <th class="py-2 align-middle">Комплект клавиатура и мышь:</th>
                      <td class="py-2 text-break">
                        {% for set in product.keyset.all %}{{ set.set }}{% if not forloop.last %}/{% endif %}{% endfor %}
                      </td>
                    </tr>
                    {% endif %}
                    {% if product.keyboard_backlight.all %}
                    <tr>
                      <th class="py-2 align-middle">Подсветка клавиатуры:</th>
                      <td class="py-2 text-break">
                          {% for light in product.keyboard_backlight.all %}{{ light.light }}{% if not forloop.last %}/{% endif %}{% endfor %}
                      </td>
                  </tr>
                  {% endif %}
                  </table>
              </div>
              <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                <table class="table border mt-3 mb-2">
                  {% if product.weight %}
                  <tr>
                    <th class="py-2 align-middle">Вес:</th>
                    <td class="py-2 text-break">
                      {{ product.weight }} кг
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.formfactor.all %}
                  <tr>
                    <th class="py-2 align-middle">Форм-фактор:</th>
                    <td class="py-2 text-break">
                      {% for formf in product.formfactor.all %}{{ formf.formf }}{% if not forloop.last %}/{% endif %}{% endfor %}
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.sizes.all %}
                  <tr>
                    <th class="py-2 align-middle">Размеры:</th>
                    <td class="py-2 text-break">
                        {% for size in product.sizes.all %}{{ size.name }}{% if not forloop.last %}/{% endif %}{% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if product.operating_temperature is not none %}
                  <tr>
                    <th class="py-2 align-middle">Температура эксплуатации:</th>
                    <td class="py-2 text-break">
                        {{ product.operating_temperature }}
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.storage_temperature is not none %}
                  <tr>
                    <th class="py-2 align-middle">Температура хранения:</th>
                    <td class="py-2 text-break">
                        {{ product.storage_temperature }}
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.operating_humidity is not none %}
                  <tr>
                    <th class="py-2 align-middle">Рабочая влажность:</th>
                    <td class="py-2 text-break">
                        {{ product.operating_humidity }}
                    </td>
                  </tr>
                  {% endif %}
                  {% if product.storage_humidity is not none %}
                  <tr>
                    <th class="py-2 align-middle">Влажность хранения:</th>
                    <td class="py-2 text-break">
                        {{ product.storage_humidity }}
                    </td>
                  </tr>
                  {% endif %}
              </table>
              
              </div>
            </div>
            <!-- Pills content -->
          </div>
        </div>


        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Добавить в корзину</button>
      </form>

      
        <div class="col-lg-4">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card no-hover-zoom">
              <div class="card-body">
                <h5 class="card-title">Похожие товары</h5>
                {% for similar_product in similar_products %}
                <a href="{% url 'product_detail' similar_product.id %}" class="d-flex mt-4 hover-zoom-container nav-link">
                  <div class="me-3">
                    {% if similar_product.images.all.0.image.url %}
                    <img src="{{ similar_product.images.all.0.image.url }}" style="object-fit: contain; width: 100px; height: 100px;" class="img-md img-thumbnail" />
                    {% else %}
                    <img src="{% static 'images/placeholder.png' %}" style="object-fit: contain; width: 100px; height: 100px;" class="img-md img-thumbnail" />
                    {% endif %}
                  </div>
                  <div class="info">
                    <strong class="text-dark"> {{ similar_product.name }} </strong>
                    {% if similar_product.features %}
                    <span class="features">{{ similar_product.features }}</span>
                    {% endif %}
                  </div>
                </a>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}