{% extends 'base.html' %}
{% load static %}
{% block title %}
Поддержка
{% endblock %}
{% block content %}
<div class="image-container" style="height: 300px; background-image: url('https://reform-support.ec.europa.eu/sites/default/files/styles/oe_theme_medium_no_crop/public/2022-05/AdobeStock_90678751.jpeg?itok=FG-1nkMz');">
    <div class="text-container">
        Наши контакты
    </div>
</div>
<section class="contacts2 cid-svGLok6CI0" id="contacts02-8" style="padding-top: 3rem; padding-bottom: 3rem;">
    <div class="align-left container" style="width: 50%;">
        <h4 class="">Свяжитесь с нами</h4>
        <p>У нас есть несколько удобных способов связи! Вы можете написать нам на электронную почту для получения дополнительной информации или оставить отзыв. Если у вас возникли срочные вопросы или вам нужна быстрая помощь, не стесняйтесь позвонить нам по указанному на сайте номеру телефона. А также вы можете воспользоваться формой обратной связи прямо на нашем сайте. Мы всегда готовы помочь вам!</p>
        <h4 class="card-phone mbr-fonts-style display-5"><strong>+7 747 700 90 49</strong></h4>
        <h4 class="card-phone mbr-fonts-style display-5"><strong>+7 727 221 10 34</strong></h4>
        <h4 class="card-phone mbr-fonts-style display-5"><strong>info@qazaqtechnology.kz</strong></h4>
    </div>
</section>
{% endblock %}