{% extends 'base.html' %}
{% load static %}
{% block title %}
Кто мы?
{% endblock %}
{% block content %}

<style>

</style>

<div class="image-container" style="background-image: url(/static/images/city.jpg)">
    <div class="text-container">
        Кто мы
    </div>
</div>  
    <div class="align-left container pt-5">
        <div class="iframe-wrapper">
            <iframe src="https://www.youtube.com/embed/QsY8fnvMn6c?si=4KDZm3tCO7sFDN5d" frameborder="0" allowfullscreen></iframe> 
        </div>
        <h4 class="title-whowe"><strong style="color: #00a2e8;">QAZAQ TECHNOLOGY</strong> - это уникальная компания в Казахстане, которая стала первым и единственным реальным производителем компьютеров, моноблоков, ноутбуков, рабочих станций, интерактивных панелей, серверов и комплектующих в стране.</h4>
        <p>Наша компания - это целый мир инноваций и технологических решений. В отличие от сборочных предприятий, мы предлагаем полный спектр продукции, начиная от разработки дизайна и заканчивая финальной сборкой. Мы воплощаем идеи в реальность, создавая продукты, которые не только функциональны, но и визуально привлекательны, чтобы вдохновлять наших клиентов к новым достижениям. </p>
        
        <h4 class="title-whowe">Цель:</h4>
        <p>Наша амбициозная цель - стать <strong style="color: #00a2e8;"> МИРОВЫМ ТЕХНОЛОГИЧЕСКИМ ГИГАНТОМ.</strong></p>
        
        
        
        <!-- <div class="container" style="width: 100%; padding-top: 1rem;">
          <div class="row g-4">
            <div class="col-md-12" style="padding: 0;">
              <div class="card h-100" style="">
                
                <div class="card-body">
                  
                  <h5 class="card-title">Цель:</h5>
                  <p class="card-text">
                    Наша амбициозная цель - стать <strong style="color: #00a2e8;"> МИРОВЫМ ТЕХНОЛОГИЧЕСКИМ ГИГАНТОМ.</strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-12" style="padding: 0;">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Миссия:</h5>
                  <p class="card-text">
                    Полагаясь на веру в значимость развития местного производства и внедрения передовых технологий для достижения технологической независимости, <strong style="color: #00a2e8;">Qazaq Technology</strong> стремится создать инновационную экосистему. Эта экосистема будет способствовать развитию экономики и раскрытию талантов в области информационных технологий. В свою очередь, осуществление этой миссии приведет к тому, что Казахстан станет независимым и суверенным технологическим центром.
                  </p>
                </div>
              </div>

        </div>
        </div> -->
        
        

        <h4 class="title-whowe">Миссия:</h4>
        <p>Полагаясь на веру в значимость развития местного производства и внедрения передовых технологий для достижения технологической независимости, Qazaq Technology стремится создать инновационную экосистему. Эта экосистема будет способствовать развитию экономики и раскрытию талантов в области информационных технологий. В свою очередь, осуществление этой миссии приведет к тому, что Казахстан станет независимым и суверенным технологическим центром.
        <h4 class="title-whowe">История компании:</h4>
        </p>
      <!-- </div> -->
        
        <div class="container" style="padding-top: 1rem; width: 100%;">
          <div class="row">
              <div class="col-md-12">
                  <div class="main-timeline">
                      <div class="timeline">
                          <a href="#" class="timeline-content">
                              <div class="timeline-year">2014</div>
                              <!-- <h3 class="title">Web Designing</h3> -->
                              <p class="description">
                                Начало коммерческой деятельности компании TОО «QazaQ Technology LTD»                              </p>
                          </a>
                      </div>
                      <div class="timeline">
                          <a href="#" class="timeline-content">
                              <div class="timeline-year">2019</div>
                              <!-- <h3 class="title">Web Development</h3> -->
                              <p class="description">
                                Начало производства компьютеров                              </p>
                          </a>
                      </div>
                      <div class="timeline">
                        <a href="#" class="timeline-content">
                            <div class="timeline-year">2020</div>
                            <!-- <h3 class="title">Web Development</h3> -->
                            <p class="description">
                              Начало серийного производства компьютеров, получение первого сертификата
                              "Сделано в Казахстане" СT KZ; производство первой опытной модели - системы биометрической аутентификации
                              для запуска ПК. 
                              Регистрация авторских прав и интеллектуальной собственности.                               </p>
                        </a>
                    </div>
                    <div class="timeline">
                      <a href="#" class="timeline-content">
                          <div class="timeline-year">2021</div>
                          <!-- <h3 class="title">Web Development</h3> -->
                          <p class="description">
                            Разработка собственного программного обеспечения системы ввода и вывода
                            данных QT BIOS V 1.01. в полном соответствии с требованиями информационной
                            безопасности, согласно стандарту ISO CT PK ISO/IEC 15408-3-2017; 
                            Получение всех сертификатов соответствия Евразийского Экономического Союза; 
                            вступление в состав участников реестра доверенного программного обеспечения
                            и продукции электронной промышленности при Министерстве цифрового развития,
                            инноваций и аэрокосмической промышленности Республики Казахстана.      
                       </p>
                      </a>
                  </div>
                  <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-year">2022</div>
                        <!-- <h3 class="title">Web Development</h3> -->
                        <p class="description">
                        Получение эксклюзивного права производства товаров Lenovo в Казахстане;
                        Разработка ТРМ модуля для шифрования данных при изъятии;
                        Разработка корпуса компьютера с датчиком защиты от вскрытия.
               </p>
                    </a>
                </div>
                <div class="timeline">
                  <a href="#" class="timeline-content">
                      <div class="timeline-year">2023</div>
                      <!-- <h3 class="title">Web Development</h3> -->
                      <p class="description">
                        Усовершенствование технологических процессов для углубления технологического
                        уклада с 8 до 23 этапов;
                        Переход на автоматизированный конвейерный цикл производства продукции;
                        Открытие Казахстанской Ассоциации Электронной Промышленности для создания
                        наиболее благоприятных условий интеграции государства, бизнес сообщества
                        и науки с целью развития электронной промышленности.                      </p>
                  </a>
              </div>
                  </div>
              </div>
          </div>
      </div>

        <!-- <h4 class="title-whowe">Безопасность и доверие</h4>
        <p>В современном цифровом мире информационная безопасность играет ключевую роль. Qazaq Technology гордится тем, что является производителем доверенного программного обеспечения для информационной безопасности пятого уровня. Наши решения обеспечивают надежную защиту данных, что особенно важно для государственных и корпоративных клиентов.</p>
        <h4 class="title-whowe">Превосходство через инновации</h4>
        <p>Инновации лежат в основе нашей деятельности. Мы постоянно инвестируем в исследования и разработки, чтобы предлагать нашим клиентам самые современные и эффективные технологические решения. Наши инженеры и разработчики работают над созданием продуктов, которые не только отвечают текущим потребностям, но и предугадывают будущие тенденции.</p>
        <h4 class="title-whowe">Команда профессионалов</h4>
        <p>Успех Qazaq Technology обеспечивается командой высококвалифицированных специалистов, объединенных общей целью – создание высококачественных технологий и решений. Мы гордимся тем, что в нашей команде работают лучшие инженеры, разработчики и менеджеры, чьи знания и опыт позволяют нам добиваться высоких результатов.</p>
        <h4 class="title-whowe">Qazaq Technology – это философия инноваций, амбиций и стремления к технологической независимости Казахстана. Мы создаем технологии будущего, которые доступны каждому, и способствуем развитию местного производства. Мы открыты для сотрудничества и всегда рады новым партнерам и клиентам.</h4>
 
        <div class="col d-flex flex-column align-items-start gap-2">
            
            <p class="">Мы предлагаем широкий спектр высокотехнологичной продукции, которая соответствует самым высоким стандартам качества:</p>
          </div>
          
          <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 mt-1">

      
            
             
                <div class="col d-flex flex-column gap-2 mt-0">
                  <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4"  style="width: 3rem; height: 3rem;">
                      <i class="fa-solid fa-computer"></i>
                  </div>
                  <p class="text-body-secondary" style="">Компьютеры и ноутбуки: Надежные, высокопроизводительные устройства, подходящие как для повседневного использования, так и для профессиональных задач.</p>
                </div>
      
                <div class="col d-flex flex-column gap-2 mt-0">
                  <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4" style="width: 3rem; height: 3rem;">
                      <i class="fa-solid fa-desktop"></i>
                  </div>
                  <p class="text-body-secondary" style="">Моноблоки и рабочие станции: Компактные и мощные решения, идеально подходящие для бизнеса и промышленности.</p><br>
                </div>
      
                <div class="col d-flex flex-column gap-2 mt-0">
                  <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4"  style="width: 3rem; height: 3rem;">
                      <i class="fa-solid fa-tv"></i>
                  </div>
                  <p class="text-body-secondary" style="">Интерактивные панели: Современные инструменты для образования, бизнеса и публичных презентаций, обеспечивающие интерактивное взаимодействие.</p>
                </div>
      
                <div class="col d-flex flex-column gap-2 mt-0">
                  <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4"  style="width: 3rem; height: 3rem;">
                      <i class="fa-solid fa-server"></i>
                  </div>
                  <p class="text-body-secondary" style="">Серверы и комплектующие: Надежные, масштабируемые решения, обеспечивающие стабильную работу IT-инфраструктуры любой сложности.</p>
                </div> -->
              
            
          </div>
{% endblock %}